*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
   .container{
    margin: 0 auto;
    max-width: 1300px;
    overflow: visible;
   }
    .navBar{ 
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        word-spacing: 5px;
        background-color: lightpink;
        padding: 0 30px;
        border-radius: 0;
    }
    .navBar h1{
        font-size: 40px;
        font-weight: 500;
        margin: 10px 0;
        line-height: 1.2;
    }
    .navBar .Flex{
        display: flex;
        justify-content: space-between;
        
        align-items: center;
        height: 100%;

    }
    .navBar ul{
        display: flex;
    }
    a{ color: black;
        text-decoration: none;}
    ul{text-align: center;
        list-style: none;
        
    }
    body{
        margin: 0px;
        padding: 0px;
        background-color:beige;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    main{
        width: 850px;
        margin: auto;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        justify-content: center;
    }
    #welcome{
        font-size: larger;
      text-align: center;
    }
    #contactInfo{
        background-color: lightpink;
        font-size: 20px;
        text-align: center;
    }
    .aboutMe{
       word-spacing: 2px;
    }
    .img{
        text-align: center;
    }
    h2, h3{
        text-align: center;
    }
    #followMe{
        text-align: center;
    }
    #quote{
        text-align: center;
        font-size: medium;
    }